<% @profiles.each do |profile| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<h1><%= link_to profile.first_name, profile_path(profile) %></h1><br />
		<h3><%= profile.bio %></h3><br />
		<p><%= profile.location %></p><br />
  </div>
<% end %>
